<!-- appointment_booking.html -->

{% extends 'clients/base.html' %}
{% block title %}Book Appointment{% endblock %}

{% block content %}
    <h1 class="mt-4 mb-4">Book Appointment with {{ advocate.user.first_name }}</h1>
    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            {{ form.date.label_tag }}
            {{ form.date }}
        </div>
        <div class="mb-3">
            {{ form.start_time.label_tag }}
            {{ form.start_time }}
        </div>
        <div class="mb-3">
            {{ form.end_time.label_tag }}
            {{ form.end_time }}
        </div>
        <button type="submit" class="btn btn-primary">Book Appointment</button>
    </form>
{% endblock %}
